/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://bit.ly/3ac5rEa");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.img2{
     padding: 20px;
    width: 200px;
    height: 190px;
}